<h1><%= @article.title %></h1>
  <% @article.content.split("\n").each do |paragraph| %>
    <p><%= paragraph %></p>
  <% end %>
<%= link_to 'Edit the article', edit_article_path %>
<%= link_to 'Back to list', articles_path %>
